<div class="content-container">
  <div class="content-title-group not-found">
    <h2 class="title">Tour of Heroes</h2>
    <p>
      This project was created to help represent a fundamental app written
      with Angular. The heroes and villains theme is used throughout the
      app.
    </p>
    <p>by <a href="https://github.com/wcorderolara">Walter Cordero Github</a></p>
    <p>Workshop Repo <a href="https://github.com/wcorderolara/techtrail-frontend-workshop">Tour of Heroes and Villains</a></p>
    <br />
    <h2 class="title">About me</h2>
    <p>
      I’m Walter Cordero, a Systems Engineer with more than 12 years of experience within the tech field.
    </p><br/>
    <p>
      I’ve been working in companies like Cerveceria Centroamericana, Autoweb, Conduent, Telus and actually I’m working at Tigo as Software Architect and I’m Professor at Universidad Mariano Gálvez in Systems Engineer Faculty
    </p>
    <br/>
    <p>
    I have a daughter of 2 months, I’m happily married, I like to watch movies and Anime, play video games, play volleyball, learn new things, teach and share my knowledge to the tech community.
    </p>
    <br />
    <h2 class="title">What the hell means Frontend</h2>
    <p>
      Talking about Software development, the frontend is everything with which the user interacts. <br/>
      From a user standpoint s Synonymous with the User Interface but, from a developer standpoint, it is the interface design and the programming that makes the interface function. Conversely, the backend processes the data, those actions take place behind scenes.
    </p>
  </div>
</div>
