<div class="navbar-menu">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a href="https://github.com/wcorderolara/techtrail-frontend-workshop" target="_blank" rel="noopener noreferrer">
          <i class="fa fab fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/wcorderolara" target="_blank" rel="noopener noreferrer">
          <i class="fa fab fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
